{
  "canvases": [
    {
      "currentEffectName": "Rainbow Scroll",
      "effectsManager": {
        "currentEffectIndex": 0,
        "effects": [
          {
            "brightness": 1,
            "density": 1,
            "dotSize": 1,
            "everyNthDot": 1,
            "ledColorPerSecond": 0.25,
            "ledScrollSpeed": 0,
            "mirrored": false,
            "name": "Rainbow Scroll",
            "palette": {
              "blend": true,
              "colors": [
                {
                  "b": 0,
                  "g": 0,
                  "r": 255
                },
                {
                  "b": 0,
                  "g": 80,
                  "r": 255
                },
                {
                  "b": 0,
                  "g": 165,
                  "r": 255
                },
                {
                  "b": 0,
                  "g": 255,
                  "r": 255
                },
                {
                  "b": 0,
                  "g": 255,
                  "r": 0
                },
                {
                  "b": 255,
                  "g": 150,
                  "r": 0
                },
                {
                  "b": 255,
                  "g": 0,
                  "r": 0
                },
                {
                  "b": 255,
                  "g": 0,
                  "r": 143
                }
              ]
            },
            "rampedColor": false,
            "type": "13PaletteEffect"
          }
        ],
        "fps": 30
      },
      "features": [
        {
          "bytesPerSecond": 2300,
          "channel": 0,
          "clientBufferCount": 180,
          "friendlyName": "Exterior",
          "height": 1,
          "hostName": "192.168.1.186",
          "offsetX": 0,
          "offsetY": 0,
          "port": 49152,
          "redGreenSwap": false,
          "reversed": false,
          "width": 144
        }
      ],
      "height": 1,
      "id": 0,
      "name": "Exterior",
      "width": 144
    }
  ],
  "port": 7777
}